---
export interface Props {
  title: string;
}
import '@fontsource/noto-sans-mono';
import '@fontsource/noto-sans-mono/600.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This is the personal website of Philip Poloczek"
    />
    <meta name="keywords" content="developer, profile, resume" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  @media (prefers-color-scheme: light) {
    :root {
      --color-bg: #ffffff;
      --color-fg: #23272d;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #23272d;
      --color-fg: #ffffff;
    }
  }

  body {
    font-family: 'Noto Sans Mono', Monaco, monospace;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-bg);
    color: var(--color-fg);

  }
</style>
