---
const { content } = Astro.props;

import 'latex.css';
---

<html>
  <head>
    <title>{content.title}</title>
  </head>
  <body>
    <main>
      <article class="indent-pars">
        <h1>{content.title}</h1>
        <p class="author">{content.author}<br />{content.date}</p>
        <slot />
      </article>
      <p>Back to <code><a href="/">peet.sh</a></code></p>
    </main>
  </body>
</html>
