---
title: 'Posts';
const posts = await Astro.glob('./*.md');
import Layout from '../../layouts/TocLayout.astro';
---


<Layout title={"Posts"}>

  <ol class="text-lg">
    {posts.reverse().map((post) => <a href={post.url}><li class="mb-2">{post.frontmatter.title}</li></a>)}
  </ol>
</Layout>
