---
const posts = await Astro.glob('./*.md');
import Layout from '../../layouts/TocLayout.astro';
---


<Layout title={"Posts"}>


  <ol class="text-lg">
    {posts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()).map((post) => (
      <a href={post.url}>
        <li class="mb-2">
          {`${post.frontmatter.title}`}
        </li>
      </a>
    ))}
  </ol>
  </ol>
  </ol>
</Layout>
