---
import Layout from '../layouts/Layout.astro';
import HardwareComponent from '../components/hardware/hardware.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <HardwareComponent>
  </main>
</Layout>
