---
import { FeatProfileArena } from '@peet.sh/feat/profile-arena';
import { TerminalComponent } from '@peet.sh/feat/profile-terminal';
import { FeatPortfolioP5 } from '@peet.sh/feat/portfolio-p5';
import { FeatPortfolioModels } from '@peet.sh/feat/portfolio-models';
import { FeatSportStats } from '@peet.sh/feat/sport-stats';
import Layout from '../layouts/Layout.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <FeatProfileArena client:only/>
    <FeatSportStats client:only/>
    <FeatPortfolioModels client:only/>
    <FeatPortfolioP5 client:only/>
    <TerminalComponent client:only/>
  </main>
</Layout>
