---
import { FeatProfileArena } from 'feature-profile-arena';
import { TerminalComponent } from 'feature-profile-terminal';
import { Feature as FeatPortfolioP5 } from 'feature-portfolio-p5';
import { FeatPortfolioModels } from 'feature-portfolio-models';
import { FeatSportStats, FeatSportTotals } from 'feature-sport-stats';
import { Feature as FeaturePunchcard } from 'feature-punchcard';
import { FeatStravaActivities } from 'feature-strava-activities';
import { Feature as Vocabulary } from 'feature-vocabulary';
import Layout from '../layouts/Layout.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <div style="height:105vh">
      <FeatProfileArena client:load />
    </div>

    <div class="relative">
      <h1 class=" text-xl sticky top-0 pt-1 pb-2 pl-4 z-50 opacity-90 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">Days spent reading</h1>
      <FeaturePunchcard client:visible/>
    </div>
    <div class="relative">

      <h1 class=" text-xl sticky top-0 pt-1 pb-2 pl-4 z-50 opacity-90 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">Collected words along the way</h1>
      <Vocabulary client:visible/>
    </div>
    <div class="relative">
      <h1 class=" text-xl sticky top-0 pt-1 pb-2 pl-4 z-50 opacity-90 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">Adventures had</h1>
      <FeatStravaActivities client:visible />
    </div>



    <div class="relative">
      <h1 class=" text-xl sticky top-0 pt-1 pb-2 pl-4 z-50 opacity-90 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">Kilometers conquered</h1>
      <FeatSportStats client:only />
      <FeatSportTotals />
    </div>

    <div class="relative">
      <h1 class="text-4xl md:text-6xl absolute top-[10vh] left-[10vw] break-word">
        ❀ handmade flowers, just for you ✿
      </h1>
      <FeatPortfolioModels client:visible />
    </div>

    <div class="relative">
      <h1 class="text-2xl md:text-6xl sticky top-[10vh] pl-[10vw] break-word">
        much nfts, such wow •ᴗ•
      </h1>

      <FeatPortfolioP5 client:only />
    </div>
    <div class="relative">
      <h1 class="text-2xl bg-yellow-600 md:text-6xl absolute top-[30vh] left-[20vw] break-all">
        old, but still cool ☞☜
      </h1>
      <TerminalComponent client:only />
    </div>
  </main>
</Layout>
