---
import { FeatQuotes } from '@peet.sh/feat/quotes';
import Layout from '../layouts/Layout.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <FeatQuotes client:only/>
  </main>
</Layout>
