---

import { FeatTemplate } from 'feature-template';
import Layout from '../layouts/Layout.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <FeatTemplate client:only/>

  </main>
</Layout>
