---
import { Feature } from 'feature-vocabulary';
import Layout from '../layouts/Layout.astro';
---

<Layout title="peet.sh / Philip Poloczek">
  <main>
    <Feature client:visible/>
  </main>
</Layout>
