---
import { Image } from 'astro:assets';
import BathroomLamp from './assets/BathroomLamp.jpeg';
import Bench from './assets/bench.jpeg';
import ConcreteLamp from './assets/concretelamp.jpg';
import Mirror from './assets/mirror.jpg';
import Pillow from './assets/pillow.jpeg';
import Bed from './assets/bed.jpg';
import Bernd from './assets/bernd.jpg';
import Bikewallmount from './assets/bikewallmount.jpg';
import CurtainPole from './assets/CurtainPole.jpg';
import Lamp from './assets/Lamp.jpg';
import Pottery from './assets/pottery.jpg';
import Potence01 from './assets/potence01.jpg';
import Rack01 from './assets/Rack01.jpg';
import Shades from './assets/shades.jpg';

const images = [
    { src: BathroomLamp, alt: "Bathroom Lamp" },
    { src: Bench, alt: "Wooden Bench" },
    { src: ConcreteLamp, alt: "Concrete Lamp" },
    { src: Mirror, alt: "Mirror" },
    { src: Pillow, alt: "Pillow" },
    { src: Bed, alt: "Bed" },
    { src: Bernd, alt: "Bernd" },
    { src: Bikewallmount, alt: "Bike Wall Mount" },
    { src: CurtainPole, alt: "Curtain Pole" },
    { src: Lamp, alt: "Lamp" },
    { src: Pottery, alt: "Pottery" },
    { src: Potence01, alt: "Potence 01" },
    { src: Rack01, alt: "Rack 01" },
    { src: Shades, alt: "Shades" }
];
---

<div class="flex flex-col gap-4">
    <h1>Hardware</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {images.map(({ src, alt }) => (
            <div class="flex flex-col gap-2">
                <Image src={src} alt={alt} class="w-full h-auto rounded-lg" />
                <p class="text-sm text-gray-600">{alt}</p>
            </div>
        ))}
    </div>
</div>
